.main {
    display: flex;
    flex-direction: row;
    margin-top: 85px;
    position: relative;
}

.filter-holder {
    display: flex;
    flex-direction: column;
    max-width: 15%;
    padding: 0px 20px 0px 20px;
    border-right: 1px solid rgb(255, 255, 255);
    height: 80vh;
    position: sticky;
    left: 0;
    top: 110px;
    
}

.gender {
    display: flex;
    flex-direction: column;
}

.gender h4 {
    margin-bottom: 1rem;
}

.category h4 {
    margin: 1rem 0;
}

.category {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.sort-holder select {
    margin-top: 20px;
    height: 2rem;
    width: 10%rem;
    border-radius: 4px;
    border: 1 px solid rgb(197, 197, 197);
    outline: none;
    
}


.product-tile-holder {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    column-gap: 30px;
    margin: auto;
    margin-top: 25px;
    justify-content: space-evenly;
    
}